<menu>
    <Services>
        <Lens cssClass="fa fa-eye fa-fw">
            <DataSources order="10" VisibleName="Data Sources" url="/ui/lens/preflight"/>
        </Lens>
    </Services>
    <Reporting>
        <Lens order="40" cssClass="fa fa-eye fa-fw">
            <Devices order="10" VisibleName="Devices" url="/ui/lens/overview"/>
            <Wallboard order="20" VisibleName="Wallboard" url="/ui/lens/wall"/>
        </Lens>
    </Reporting>
</menu>
